<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title th:text="${title}"> </title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">

        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

        <link th:href="@{/css/bootstrap-icons.css}" rel="stylesheet">

        <link th:href="@{/css/templatemo-topic-listing.css}" rel="stylesheet">
<!--

TemplateMo 590 topic listing

https://templatemo.com/tm-590-topic-listing

-->
    </head>
    
    <body class="topics-listing-page" id="top">

        <main>

            <div th:replace="~{layout/common-navbar :: navbar}"></div>


            <header class="site-header d-flex flex-column justify-content-center align-items-center">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-lg-5 col-12">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Homepage</a></li>

                                    <li class="breadcrumb-item active" aria-current="page">Reportar Problema</li>
                                </ol>
                            </nav>

                            <h2 class="text-white">Reportar Problema</h2>
                        </div>

                    </div>
                </div>
            </header>


            <section class="section-padding section-bg">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12">
                            <h3 class="mb-4 pb-2">Insira os dados abaixo para reportar o seu problema</h3>
                        </div>

                        <div class="col-lg-6 col-12">
                            <form action="#" method="post" class="custom-form contact-form" role="form">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="form-floating">
                                            <input type="text" name="name" id="name" class="form-control" placeholder="Nome" required="">
                                            
                                            <label for="floatingInput">Nome</label>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-12"> 
                                        <div class="form-floating">
                                            <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Endereço de Email" required="">
                                            
                                            <label for="floatingInput">Endereço de Email</label>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-12">
                                        <div class="form-floating">
                                            <input type="text" name="subject" id="subject" class="form-control" placeholder="Título" >
                                            
                                            <label for="floatingInput">Título</label>
                                        </div>

                                        <div class="form-floating">
                                            <textarea class="form-control" id="message" name="message" placeholder="Descrição"></textarea>
                                            
                                            <label for="floatingTextarea">Se desejar adicione mais informações aqui</label>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-12 ms-auto">
                                        <button type="submit" class="form-control">Enviar</button>
                                    </div>

                                </div>
                            </form>
                        </div>

                        <div class="col-lg-5 col-12 mx-auto mt-5 mt-lg-0">
                            <iframe th:src="@{https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24733.16622781468!2d-47.876908!3d-22.033624!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b876fb94ed4f35%3A0x135c5caae76e44d8!2sGin%C3%A1sio%20Milton%20Olaio%20Filho!5e1!3m2!1spt-BR!2sbr!4v1708778421856!5m2!1spt-BR!2sbr}" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                            <h5 class="mt-4 mb-2">São Carlos - SP</h5>

                            <p>Ginasio Milton Olaio</p>
                        </div>

                    </div>
                </div>
            </section>
        </main>

        <div th:replace="~{layout/common-footer :: footer}"></div>

        <!-- JAVASCRIPT FILES -->
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/jquery.sticky.js}"></script>
        <script th:src="@{/js/custom.js}"></script>

    </body>
</html>